/* Add these 3D transform utility classes */
.preserve-3d {
  transform-style: preserve-3d;
}

.backface-visible {
  backface-visibility: visible;
}

.backface-hidden {
  backface-visibility: hidden;
}

.perspective-1000 {
  perspective: 1000px;
}

.perspective-1500 {
  perspective: 1500px;
}

.perspective-2000 {
  perspective: 2000px;
}

/* Additional helper classes for 3D transforms */
.translate-z-0 {
  transform: translateZ(0);
}

.translate-z-10 {
  transform: translateZ(10px);
}

.translate-z-20 {
  transform: translateZ(20px);
}

.translate-z-50 {
  transform: translateZ(50px);
}

.translate-z-neg-50 {
  transform: translateZ(-50px);
}